In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/movie_metadata.csv')

In [3]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [6]:
genres = df[['movie_title','genres']]

# Посмотрим на способы применения какой либо функции к данным

#### Первый способ это обычная итерация. Датафрейм это коллекция по которой питон может итерироваться

In [7]:
# Итерация происходит по названиям колонок
for i in genres:
    print(i)

movie_title
genres

In [8]:
# Тоже самое
for i in genres.columns:
    print(i)

movie_title
genres

In [ ]:
# Чтобы итерироваться по значениям нужно вызвать атрибут
for i in genres.values:
    print(i)

In [21]:
def reversor(value):
    return value[::-1]

In [ ]:
# Теперь можно применить функцию например переворачивания
for i in genres.values:
    for j in i:
        print(reversor(j))

In [ ]:
# Можно итерироваться через iterrow. Это по строкам
# Это кортеж состоящий из индекса строки и пандасовской серии
for i in genres.iterrows():
    print(i)

In [ ]:
# Можно избавиться от индекса распаковав его
for i,row in genres.iterrows():
    print(row)

In [ ]:
# По столбцам. Сначала по одному столбцу затем по другому.
for i,row in genres.iteritems():
    print(row)

In [ ]:
# Можем применять к series map
for i,row in genres.iterrows():
    print(row.map(reversor))

#### Нормальный вариант apply

In [32]:
budget = df[['budget','duration']]
budget.head()

        budget  duration
0  237000000.0     178.0
1  300000000.0     169.0
2  245000000.0     148.0
3  250000000.0     164.0
4          NaN       NaN

In [33]:
# Применяется ко всем значениям в датафрейме
budget.applymap(lambda x: x + 1)

           budget  duration
0     237000001.0     179.0
1     300000001.0     170.0
2     245000001.0     149.0
3     250000001.0     165.0
4             NaN       NaN
...           ...       ...
5038          NaN      88.0
5039          NaN      44.0
5040       1401.0      77.0
5041          NaN     101.0
5042       1101.0      91.0

[5043 rows x 2 columns]

In [35]:
# Может применятся к отдельной колонке
budget.apply(np.mean, axis=0)

budget      3.975262e+07
duration    1.072011e+02
dtype: float64

In [39]:
# Почти тоже самое кроме того что не может принимать агрегирующие функции.
%timeit budget.transform(lambda x: x + 1)

1.78 ms ± 20.2 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [41]:
# Если нужна скорость то можно работать с нумпаевским массивом чтобы добраться до него 
df['budget'].values

array([2.37e+08, 3.00e+08, 2.45e+08, ..., 1.40e+03,      nan, 1.10e+03])

### 3.7.6
Расставьте способы взять среднее значение по скорости выполнения сверху вниз - наверху самый быстрый.

 

Пример датасэта для тестирования

При использовании jupyter notebook можно оттестировать скорость выполнения кода при помощи "магии" timeit, которая проведёт несколько прогонов кода и выдаст среднее значение

%%timeit
your_command
Если вы пользуетесь чем-то другим, воспользуйтесь библиотекой time

from time import time
before = time()
your_command
after = time()
print(after - before)

In [42]:
df = pd.read_csv('../data/iris_1.csv')

In [ ]:
# Используем магию %timeit для подсчета времени выполнения каждой функции

In [43]:
%timeit df.describe().loc['mean']

16.8 ms ± 203 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [44]:
%timeit df.mean(axis=0)

334 µs ± 6.56 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [46]:
%timeit df.apply('mean')

407 µs ± 13.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [47]:
%timeit df.apply(np.mean)

1.75 ms ± 28.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

### Временные ряды

In [48]:
df = pd.read_csv('../data/AMZN.csv')

In [49]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-04-16,1851.349976,1869.770020,1848.000000,1863.040039,1863.040039,3044600
1,2019-04-17,1872.989990,1876.469971,1860.439941,1864.819946,1864.819946,2893500
2,2019-04-18,1868.790039,1870.819946,1859.479980,1861.689941,1861.689941,2749900
3,2019-04-22,1855.400024,1888.420044,1845.640015,1887.310059,1887.310059,3373800
4,2019-04-23,1891.199951,1929.260010,1889.579956,1923.770020,1923.770020,4640400

In [50]:
df.shape

(252, 7)